html,
body {
	background: #4c566a;
	color: #fff;
}
.container-cases,
.container-regions,
.countries {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}
.countries {
	margin: 20px;
	border: 1px solid #81a1c1;
	border-radius: 7px;
}
.span-space {
	margin: 5px;
	padding: 5px;
}
.hidden {
	display: none;
}
.countries span:hover {
	cursor: pointer;
}
.container-cases {
	margin-top: 100px;
}
.space {
	margin: 2px;
	padding: 10px;
}
.list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
}
.canvas-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.canvas-container .card {
	text-align: center;
}
.card {
	margin-top: 25px;
	height: 10vw;
	border: 1px solid #ffffff85;
}
.btn-cases,
.btn-regions {
	border-radius: 7px;
}
.btn-cases:hover,
.btn-regions:hover {
	background: #cdd4e0;
}
